@media screen and (min-width: 1025px) {
    /* CSS rules for screens larger than 1024px */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(198, 225, 246, 0.8), rgba(251, 214, 227, 0.8));
    scroll-behavior: smooth;
    position: relative;
}

    a.linkProduct {
        display: block;
        height: 80px;
    }

    ul.slick-dots {
        display: none !important;
    }

    li.itemProduct.slick-slide {
        margin-right: 20px;
    }

.ProductArea {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 20%;
    overflow: hidden;
}
.newProductArea, .ProductAreaOfShop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newProductArea{
    position: relative;
}
.titleProduct {
    font-size: 40px;
    font-weight: bold;
    color: brown;
}
.frame{
    width: 100%;
    overflow: hidden;


}
.listItemProduct {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    column-gap: 2%;
    margin-top: 3%;
    position: relative;

}
.ProductAreaOfShop{
    margin-top: 10%;
    position: relative;
}
.ProductAreaOfShop > .titleProduct{
    position: absolute;
    left: 35px;
    top: -30px;

}
.seenAll {
    position: absolute;
    right: 35px;
    top: -30px;
}
.prevArea, .nextArea{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    bottom: 0;
}
.prevArea{
    left: 0;
}
.nextArea{
    right: 0;

}
.fa-circle-left, .fa-circle-right{
    font-size: 50px;
    /* color: rgba(240, 255, 255, 0.2); */
    color: rgba(240, 255, 255, 0.2);
}
.prevArea .fa-circle-left:hover, .nextArea .fa-circle-right:hover{
    cursor: pointer;
    color: rgba(240, 255, 255, 0.8);
}
#PageUp {
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.6);;
}




@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}
