
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(90deg, rgba(198, 225, 246, 0.8), rgba(251, 214, 227, 0.8));

}

.sliderArea {
    width: 100%;
}

.slideImage {
    width: 100%;
}

.ImageSlide > img {
    width: 100%;

}

.ProductCategoryArea {
    width: 100%;
    margin-top: 15%;
    position: relative;
}

.titleShirt {
    position: absolute;
    color: brown;
    font-size: 40px;
    left: 70px;
    top: -70px;
}

.page1 {

    width: 100%;
}

.page {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.listItemProduct {
    margin-top: 3%;
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-left: 2%;
}

.dotpage {
    margin-top: 5%;
    width: 100%;
    margin-bottom: 10%;
}

.listDotpage {
    width: 100%;
    display: flex;
    column-gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.listDotpage > li {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid brown;
    color: brown;
    border-radius: 5px;
}

.listDotpage > li:hover {
    background-color: brown;
    color: white;
}

